body{
  background: linear-gradient(#0f5132,#198754);
  color:white;
  font-family:Arial;
  text-align:center;
}
button{
  padding:12px;
  margin:8px;
  background:#20c997;
  border:none;
  border-radius:8px;
  font-size:16px;
}
