body{margin:0;font-family:Arial;text-align:center;color:#fff}

.brand-name{
font-size:32px;font-weight:bold;
background:linear-gradient(90deg,#00ff99,#ffd700,#00ccff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
animation:glow 2.5s infinite alternate;
}
@keyframes glow{
from{text-shadow:0 0 10px gold}
to{text-shadow:0 0 25px #00ff99}
}
.brand-small{font-size:24px}
.brand-center{text-align:center;margin-bottom:10px}

.welcome-bg{
background:linear-gradient(135deg,#00ff99,#0066ff);
height:100vh;display:flex;align-items:center;justify-content:center;
}

.welcome-box{background:#000;padding:30px;border-radius:20px;box-shadow:0 0 30px gold}

.login-bg,.casino-bg{background:radial-gradient(circle,#00ff99,#003366);min-height:100vh}

.box,.card{
background:#000;padding:20px;border-radius:15px;
box-shadow:0 0 20px cyan;width:280px;margin:20px auto;
}

.dash-bg{
background:linear-gradient(135deg,#00ff99,#0066ff,#003366);
background-size:400% 400%;
animation:bg 12s infinite;
min-height:100vh;
}
@keyframes bg{0%{background-position:0%}50%{background-position:100%}100%{background-position:0%}}

.grid{display:grid;grid-template-columns:1fr 1fr;gap:15px;margin:20px}
.grid div{background:#000;padding:15px;border-radius:15px;box-shadow:0 0 15px lime;cursor:pointer}

.wallet{background:#000;padding:15px;border-radius:15px;box-shadow:0 0 25px gold;margin:15px}
.money{font-size:26px;color:#00ff99}
