body{margin:0;font-family:Arial;color:#fff}
.login-bg{background:#000}
.casino-bg{background:radial-gradient(circle,#111,#000)}
.contest-bg{background:#0a0a0a}

.login-box{
  width:300px;margin:120px auto;
  background:#111;padding:20px;
  border-radius:12px;
  animation:glow 2s infinite alternate;
}
@keyframes glow{
  from{box-shadow:0 0 10px gold}
  to{box-shadow:0 0 25px red}
}
button{width:100%;margin-top:8px}
.contest{
  background:#111;margin:15px;padding:15px;
  border-radius:10px;text-align:center;
}
